
.tableRow:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    transition: all .3s ease;

}


.button {

    border-radius: 5px;
    margin: 10px;
}

.table_header:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    transition: all .3s ease;
}