.selected {
    color: white;
    background-color: #007bff;
    border-radius: 3px;
}

.item {
    font-size: 130%;
    margin: 5px;
    padding: 5px;
}

.item:hover {

    cursor: pointer;
}

.tableRow:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    transition: all .3s ease;

}

.addForm {
    display: grid;

    justify-content: space-around;
    margin: 15px;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;

}

.button {

    border-radius: 5px;
    margin: 10px;
}

.table_header:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    transition: all .3s ease;
}